<!DOCTYPE HTML>
<html lang="en">
<HEAD>
    <title>Getting Started: Serving Web Content</title>
</HEAD>
<BODY>
<form   action="http://localhost:8784/success" method="POST">
    <label for="name">Nombre </label>
    <input name="name" id="name">
    <p></p>
    <label for="apellido">apellido</label>
    <input name ="apellido" id="apellido">
    <p></p>
    <p></p>
    <label for="name">"correo electronico" </label>
    <input name ="correo electronico" id="correo electronico">
    <p></p>
    <button>Save</button>

</form>
</BODY>
</html>
